@mixin button-bg($bg, $second: $bg, $font: inherit) {
    background: $bg;

    &:hover {
        background: lighten($second,20%);
        transition: all 0.3s ease;
        color: $font;
    }

    &:active {
        background: darken($second,25%);
        color: $font;
    }

    &:focus {
        background: lighten($second,25%);
        outline-width: 2px;
        color: $font;
    }
}
